vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Apr 2006 05:13:24 -0000
vti_extenderversion:SR|6.0.2.5516
vti_modifiedby:SR|CHARLY-TOSHIBA\\Carlos
vti_nexttolasttimemodified:TW|09 Apr 2006 04:46:26 -0000
vti_backlinkinfo:VX|temp3.htm temp4.htm temp5.htm themes/Default/plantillaimprimir.htm themes/Default/plantillacomparativa.htm comparativa.htm themes/Default/plantillapeque.htm themes/Default/plantilla_ing.htm themes/Default/plantilla_esp.htm temp6.htm temp7.htm
vti_author:SR|CHARLY-TOSHIBA\\Carlos
vti_timecreated:TR|21 Mar 2006 06:49:25 -0000
vti_cacheddtm:TX|09 Apr 2006 04:46:26 -0000
vti_filesize:IR|772
